name: Test Workflow

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/..
        id: visibility
        with:
          repository: ${{ github.repository }}
          token: ${{ github.token }}

      - if: ${{ steps.visibility.outputs.is_public == 'true' }}
        run: echo "Repo is Public"

      - if: ${{ steps.visibility.outputs.is_private == 'true' }}
        run: echo "Repo is PRIVATE"

      - run: echo "Status ${{ steps.visibility.outputs.status }}"
      - run: echo "Public ${{ steps.visibility.outputs.is_public }}"
      - run: echo "Private ${{ steps.visibility.outputs.is_private }}"
